.education {
    padding: 20px;
  }
  
  .education h3 {
    color: #fff;
  }

  .education p {
    color: #fff;
  }

  .education-item {
    margin-bottom: 20px;
    /*background-color: #030D22;
    border: 1px solid #333; /* Borde gris oscuro */
  }
  
  .education-degree {
    font-style: italic;
  }
  
  .education-date {
    color: #777;
  }