.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #030D22; 
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ddd;*/
  }
  
  .header-logo {
    max-width: 50px; /* Ajusta el tamaño máximo del logo según tus necesidades */
    height: auto;
  }
  
  .header-name {
    font-weight: bolder !important;
    color: rgba(30, 48, 243, 1) !important;
  }